:root {
  --js: rgb(240, 234, 58);
  --swift: rgb(245, 142, 69);
  --go: rgb(81, 193, 245);
  --rb: rgb(150, 0, 30);
  --py: rgb(8, 99, 135);
  --scala: rgb(237, 7, 54);
  --java: rgb(196, 0, 0);
  --kt: rgb(255, 167, 59);
  --cpp: rgb(8, 95, 201);
  --m: rgb(57, 143, 247);
  --cs: rgb(154, 7, 222);
  --php: rgb(164, 130, 255);
  --sql: rgb(169, 169, 169);

  --track: -1212px 0 0 1200px;
}

input[type=range].js::-webkit-slider-thumb {
  background: var(--js);
  box-shadow: var(--track) var(--js);
}

input[type=range].swift::-webkit-slider-thumb {
  background: var(--swift);
  box-shadow: var(--track) var(--swift);
}

input[type=range].go::-webkit-slider-thumb {
  background: var(--go);
  box-shadow: var(--track) var(--go);
}

input[type=range].rb::-webkit-slider-thumb {
  background: var(--rb);
  box-shadow: var(--track) var(--rb);
}

input[type=range].py::-webkit-slider-thumb {
  background: var(--py);
  box-shadow: var(--track) var(--py);
}

input[type=range].scala::-webkit-slider-thumb {
  background: var(--scala);
  box-shadow: var(--track) var(--scala);
}

input[type=range].java::-webkit-slider-thumb {
  background: var(--java);
  box-shadow: var(--track) var(--java);
}

input[type=range].kt::-webkit-slider-thumb {
  background: var(--kt);
  box-shadow: var(--track) var(--kt);
}

input[type=range].cpp::-webkit-slider-thumb {
  background: var(--cpp);
  box-shadow: var(--track) var(--cpp);
}

input[type=range].m::-webkit-slider-thumb {
  background: var(--m);
  box-shadow: var(--track) var(--m);
}

input[type=range].cs::-webkit-slider-thumb {
  background: var(--cs);
  box-shadow: var(--track) var(--cs);
}

input[type=range].php::-webkit-slider-thumb {
  background: var(--php);
  box-shadow: var(--track) var(--php);
}

input[type=range].sql::-webkit-slider-thumb {
  background: var(--sql);
  box-shadow: var(--track) var(--sql);
}

.circle .js, .bar .js {
  background: var(--js);
}

.circle .swift, .bar .swift {
  background: var(--swift);
}

.circle .go, .bar .go {
  background: var(--go);
}

.circle .rb, .bar .rb {
  background: var(--rb);
}

.circle .py, .bar .py {
  background: var(--py);
}

.circle .scala, .bar .scala {
  background: var(--scala);
}

.circle .java, .bar .java {
  background: var(--java);
}

.circle .kt, .bar .kt {
  background: var(--kt);
}

.circle .cpp, .bar .cpp {
  background: var(--cpp);
}

.circle .m, .bar .m {
  background: var(--m);
}

.circle .cs, .bar .cs {
  background: var(--cs);
}

.circle .php, .bar .php {
  background: var(--php);
}

.circle .sql, .bar .sql {
  background: var(--sql);
}
