* {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: #4187ff;
  text-decoration: none;
}

header {
  background: rgba(255, 255, 255, 0.94);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0.6rem 0 0.8rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.frame {
  margin: auto;
  max-width: 1200px;
  padding: 0 1.25rem;
}

.content {
  min-height: calc(100vh - 142px);
  padding: 90px 0 20px 0;
}

.stackshare_heavy {
  font-weight: 600;
}

.stackshare_light {
  font-weight: 200;
}

.copyright {
  font-size: 0.85rem;
  font-weight: 300;
  padding: 0.5rem;
  text-align: center;
}

.index_block {
  display: flex;
  justify-content: space-evenly;
}

.index_block, .error_block {
  margin-top: -2rem;
  max-width: 1200px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 2.5rem);
}

.index_block a {
  color: #000000;
}

.index_value, .error_code {
  font-size: 5rem;
  font-weight: 800;
}

.index_key {
  font-size: 1.75rem;
  font-weight: 300;
}

.error_message {
  font-size: 1.75rem;
  font-weight: 300;
}

.error_message, .error_text {
  margin-top: 0.5rem;
}
