* {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* FORMS */

form.create {
  margin: auto;
  max-width: 400px;
}

form.create button {
  width: 100%;
}

label {
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 0 0.25rem 0.25rem;
}

button, input[type=text] {
  border: 0;
  border-radius: 0.25rem;
  font-size: 1.15rem;
  font-weight: 300;
  padding: 0.42rem 0.85rem;
  transition: all 0.3s ease-in-out;
}

button {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: #000000;
}

input {
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  outline: none;
  width: calc(100% - 1.75rem);
}

input:focus {
  background: rgba(0, 0, 0, 0.15);
}

input[type=range], input[type=range]::-webkit-slider-thumb, .bar > div {
  border-radius: 1.5rem;
  height: 20px;
  -webkit-appearance: none;
}

input[type=range] {
  background: transparent;
  overflow: hidden;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  width: 20px;
}

/* LINKS */

a {
  color: #2783f2;
  text-decoration: none;
}

.invisible_links a {
  color: #000000;
}

/* SPACING */

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.less_space_above {
  margin-top: 0.4rem;
}

.space_above {
  margin-top: 1rem;
}

.more_space_above {
  margin-top: 1.6rem;
}

/* STRUCTURE */

.view {
  min-height: calc(100vh - 177px);
  padding: 100px 0 45px 0;
}

.content {
  margin: auto;
  max-width: 1200px;
  padding: 0 1.5rem;
}

.focus {
  display: flex;
  justify-content: space-evenly;
  margin-top: -2rem;
  max-width: 1200px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 2.5rem);
}

/* TABLES */

table {
  margin-top: -1.5rem;
  width: 100%;
}

td {
  font-size: 0.95rem;
  font-weight: 300;
  padding-top: 1.5rem;
}

.without_data {
  font-weight: 300;
  text-align: center;
}

/* TEXT */

h1 {
  font-size: 3.75rem;
  font-weight: 800;
}

h1.dd {
  font-size: 5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

h2.dd {
  font-size: 1.75rem;
}

/* COMPONENTS */

.card {
  border-radius: 0.25rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 1.75rem 1.5rem;
}

.action_bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.attribute_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.attribute_list .circle {
  margin: 1rem 0.8rem 0 0.8rem;
}

.circle {
  align-items: center;
  display: flex;
  font-size: 0.95rem;
  font-weight: 300;
}

.circle span {
  border-radius: 100%;
  display: block;
  height: 16px;
  margin: 0 0.45rem;
  width: 16px;
}

.barchart {
  margin-bottom: -0.75rem;
}

.bar {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0.75rem 0;
  overflow: show;
  text-align: center;
  white-space: nowrap;
}

.bar > div {
  height: 20px;
  margin-top: 0.2rem;
}

/* SINGLE USE */

header {
  background: rgba(255, 255, 255, 0.94);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0.6rem 0 0.8rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header > .content {
  display: flex;
  justify-content: space-between;
}

.stackshare {
  font-size: 2rem;
  font-weight: 200;
}

.stackshare span {
  font-weight: 600;
}

.search, .pages {
  align-items: center;
  display: flex;
}

.search {
  margin-bottom: -4px;
  max-width: 545px;
  padding: 0 2.5rem;
  width: 100%;
}

.search button {
  background: transparent;
  color: #000000;
  font-weight: 400;
  margin-left: 1rem;
  padding: 0;
}

.pages {
  height: 38px;
  justify-content: flex-end;
  margin: 0 -0.5rem;
}

.pages nav {
  margin: 0 0.5rem -8px 0.5rem;
}

.copyright {
  font-size: 0.85rem;
  font-weight: 300;
  padding: 0.5rem;
  text-align: center;
}

.error_trace {
  color: #f0182e;
  font-family: 'SF Mono', Menlo, monospace;
  font-size: 1.15rem;
}
