@import io.bimo2.stackshare.Company
@import io.bimo2.stackshare.Language

@(companies: Vector[Company], popular: Vector[(String, Double)])

@main("Companies") {
  <div class="card">
    <div class="action_bar">
      <h1>Companies</h1>
      <div><a class="" href="/companies/new"><button>New Company</button></a></div>
    </div>
    @if(companies.length > 0) {
      <h2 class="space_above">Popular Tech Stacks</h2>
    }
    <div class="attribute_list less_space_above">
      @for((key, value) <- popular) {
        <div class="circle"><span class="@key"></span>@Language.mapping(key) &rarr; @{f"${100 * value}%.2f"}%</div>
      }
    </div>
  </div>
  <div class="card more_space_above">
    @if(companies.length > 0) {
      <table>
        <tbody>
          @for(company <- companies) {
            <tr>
              <td width="23%">@company.id</td>
              <td class="attention" width="34%"><a href="/companies/@company.domain">@company.domain</a></td>
              <td width="28%">@company.name</td>
              @for((key, value) <- company.stack.getOrElse(Map[String, Double]())) {
                <td class="attention" width="5%">
                  <div class="table_attribute circle"><span class="@key"></span></div>
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    } else {
      <div class="attention">No companies.</div>
    }
  </div>
}
