@()

@main("New User") {
  <form class="form card">
    <h1>New User</h1>
    <label>Username</label>
    <input type="text" name="username" placeholder="bimo2" autocomplete="off" />
    <label class="form_next">JavaScript</label>
    <input class="js" type="range" name="attributes" min="0" max="10" value="0" data-lang="js" />
    <label class="form_next">Swift</label>
    <input class="swift" type="range" name="attributes" min="0" max="10" value="0" data-lang="swift" />
    <label class="form_next">Go</label>
    <input class="go" type="range" name="attributes" min="0" max="10" value="0" data-lang="go" />
    <label class="form_next">Ruby</label>
    <input class="rb" type="range" name="attributes" min="0" max="10" value="0" data-lang="rb" />
    <label class="form_next">Python</label>
    <input class="py" type="range" name="attributes" min="0" max="10" value="0" data-lang="py" />
    <label class="form_next">Scala</label>
    <input class="scala" type="range" name="attributes" min="0" max="10" value="0" data-lang="scala" />
    <label class="form_next">Java</label>
    <input class="java" type="range" name="attributes" min="0" max="10" value="0" data-lang="java" />
    <label class="form_next">Kotlin</label>
    <input class="kt" type="range" name="attributes" min="0" max="10" value="0" data-lang="kt" />
    <label class="form_next">C++</label>
    <input class="cpp" type="range" name="attributes" min="0" max="10" value="0" data-lang="cpp" />
    <label class="form_next">Objective-C</label>
    <input class="m" type="range" name="attributes" min="0" max="10" value="0" data-lang="m" />
    <label class="form_next">C#</label>
    <input class="cs" type="range" name="attributes" min="0" max="10" value="0" data-lang="cs" />
    <label class="form_next">PHP</label>
    <input class="php" type="range" name="attributes" min="0" max="10" value="0" data-lang="php" />
    <label class="form_next">SQL</label>
    <input class="sql" type="range" name="attributes" min="0" max="10" value="0" data-lang="sql" />
    <button id="create_user_button" class="form_next" type="button" onclick="onCreateUser()">Create User</button>
  </form>
}
