@()

@main("New User") {
  <form class="create card">
    <h1>New User</h1>
    <label class="space_above">Username</label>
    <input type="text" name="username" placeholder="bimo2" autocomplete="off" />
    <label class="space_above">JavaScript</label>
    <input class="js" type="range" name="attributes" min="0" max="10" value="0" data-lang="js" />
    <label class="space_above">Swift</label>
    <input class="swift" type="range" name="attributes" min="0" max="10" value="0" data-lang="swift" />
    <label class="space_above">Go</label>
    <input class="go" type="range" name="attributes" min="0" max="10" value="0" data-lang="go" />
    <label class="space_above">Ruby</label>
    <input class="rb" type="range" name="attributes" min="0" max="10" value="0" data-lang="rb" />
    <label class="space_above">Python</label>
    <input class="py" type="range" name="attributes" min="0" max="10" value="0" data-lang="py" />
    <label class="space_above">Scala</label>
    <input class="scala" type="range" name="attributes" min="0" max="10" value="0" data-lang="scala" />
    <label class="space_above">Java</label>
    <input class="java" type="range" name="attributes" min="0" max="10" value="0" data-lang="java" />
    <label class="space_above">Kotlin</label>
    <input class="kt" type="range" name="attributes" min="0" max="10" value="0" data-lang="kt" />
    <label class="space_above">C++</label>
    <input class="cpp" type="range" name="attributes" min="0" max="10" value="0" data-lang="cpp" />
    <label class="space_above">Objective-C</label>
    <input class="m" type="range" name="attributes" min="0" max="10" value="0" data-lang="m" />
    <label class="space_above">C#</label>
    <input class="cs" type="range" name="attributes" min="0" max="10" value="0" data-lang="cs" />
    <label class="space_above">PHP</label>
    <input class="php" type="range" name="attributes" min="0" max="10" value="0" data-lang="php" />
    <label class="space_above">SQL</label>
    <input class="sql" type="range" name="attributes" min="0" max="10" value="0" data-lang="sql" />
    <button class="space_above" type="button" onclick="onCreateUser()">Create User</button>
  </form>
}
