@()

@main("New User") {
    <form class="form card">
        <h1>New User</h1>
        <input id="username" type="text" placeholder="username" autocomplete="username" />
        
        <!-- JavaScript -->
        <label class="form_next" for="js_range">JavaScript &rarr; <span>0</span></label>
        <input id="js_range" type="range" min="0" max="10" value="0" />
        <!-- Swift -->
        <label class="form_next" for="swift_range">Swift &rarr; <span>0</span></label>
        <input id="swift_range" type="range" min="0" max="10" value="0" />
        <!-- Go -->
        <label class="form_next" for="go_range">Go &rarr; <span>0</span></label>
        <input id="go_range" type="range" min="0" max="10" value="0" />
        <!-- Go -->
        <label class="form_next" for="rb_range">Ruby &rarr; <span>0</span></label>
        <input id="rb_range" type="range" min="0" max="10" value="0" />
        <!-- Python -->
        <label class="form_next" for="py_range">Python &rarr; <span>0</span></label>
        <input id="py_range" type="range" min="0" max="10" value="0" />
        <!-- Scala -->
        <label class="form_next" for="scala_range">Scala &rarr; <span>0</span></label>
        <input id="scala_range" type="range" min="0" max="10" value="0" />
        <!-- Java -->
        <label class="form_next" for="java_range">Java &rarr; <span>0</span></label>
        <input id="java_range" type="range" min="0" max="10" value="0" />
        <!-- Kotlin -->
        <label class="form_next" for="kt_range">Kotlin &rarr; <span>0</span></label>
        <input id="kt_range" type="range" min="0" max="10" value="0" />
        <!-- C++ -->
        <label class="form_next" for="cpp_range">C++ &rarr; <span>0</span></label>
        <input id="cpp_range" type="range" min="0" max="10" value="0" />
        <!-- Objective-C -->
        <label class="form_next" for="m_range">Objective-C &rarr; <span>0</span></label>
        <input id="m_range" type="range" min="0" max="10" value="0" />
        <!-- C# -->
        <label class="form_next" for="cs_range">C# &rarr; <span>0</span></label>
        <input id="cs_range" type="range" min="0" max="10" value="0" />
        <!-- PHP -->
        <label class="form_next" for="php_range">PHP &rarr; <span>0</span></label>
        <input id="php_range" type="range" min="0" max="10" value="0" />
        <!-- SQL -->
        <label class="form_next" for="sql_range">SQL &rarr; <span>0</span></label>
        <input id="sql_range" type="range" min="0" max="10" value="0" />
    
        <button class="form_next">Create User</button>
      
    </form>
}
