@import io.bimo2.stackshare.Position
@import io.bimo2.stackshare.User
@import io.bimo2.stackshare.Language

@(position: Position, suggestions: Vector[(User, Double)])

@main(s"${position.domain} | ${position.id.get}") {
  <div class="card">
    <div class="position_action_bar">
      <h1 class="less_important">@position.title.getOrElse(s"${position.domain}: ${position.id.get}")</h1>
      <div>
        <button onclick="onUpdatePositionDomain('@position.id', '@position.domain')">Update Domain</button>
        <button onclick="onDestroyPosition('@position.id')">Delete Position</button>
      </div>
    </div>
    <input class="space_above" type="text" name="new_domain" placeholder="@position.domain" autocomplete="off" data-update="off" />
    <div class="barchart space_above">
      @for((key, value) <- position.attributes) {
        <div class="bar" style="width: calc(@{value * 100}%);">
          @Language.mapping(key) &rarr; @{f"${100 * value}%.2f"}%
          <div class="@key" style="width: 100%;"></div>
        </div>
      }
    </div>
  </div>
  <div class="split more_space_above">
    <div class="card">
      <h2>Position Details</h2>
      <div class="information space_above">ID<span class="rarr">&rarr;</span><span class="info">@position.id.get</span></div>
      <div class="information less_space_above">Title<span class="rarr">&rarr;</span><span class="info">@position.title.getOrElse("None")</span></div>
      <div class="information less_space_above">Company<span class="rarr">&rarr;</span><a href="/companies/@position.domain"><span class="info">@position.domain</span></a></div>
      <div class="information less_space_above">Description<span class="rarr">&rarr;</span><span class="info">@position.description.getOrElse("None")</span></div>
    </div>
    <div class="card">
      <h2>Suggested Users</h2>
      @if(suggestions.length > 0) {
        <table class="no_space">
          <tbody>
            @for((user, score) <- suggestions) {
              <tr>
                <td width="24%"><a href="/users/@user.username">@user.username</a></td>
                <td class="attention" width="40%">@{f"$score%.3f"}</td>
                @for((key, value) <- user.attributes) {
                  <td width="12%">
                    <div class="circle"><span class="@key"></span></div>
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      } else {
        <div class="attention space_above">No users.</div>
      }
    </div>
  </div>
  @if(position.text.length > 0) {
    <div class="card more_space_above">
      <h2>HTML Content</h2>
      <div class="html_text space_above">@position.text</div>
    </div>
  }
}
