@import io.bimo2.stackshare.User
@import io.bimo2.stackshare.Language

@(user: User)

@main(s"${user.username}") {
  <div class="card">
    <div class="action_bar">
      <h1>@user.username</h1>
      <button onclick="onDestroyUser('@user.username')">Delete User</button>
    </div>
    <div class="barchart space_above">
      @for((key, value) <- user.attributes) {
        <div class="bar" style="width: calc(@{value * 10}%);">
          @Language.mapping(key) &rarr; @value
          <div class="@key" style="width: 100%;"></div>
        </div>
      }
    </div>
  </div>
  <div class="split more_space_above">
    <div class="card">
      <h2>Suggested Companies</h2>
    </div>
    <div class="card">
      <h2>Suggested Positions</h2>
    </div>
  </div>
}
